body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Header */
/* #region */
.header-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-content {
  height: 70px;
  background-color: #343a40;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header-title {
  margin-left: 64px;
  color: #fff;
}

.menu-list li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.menu-link a:hover {
  text-decoration: underline;
  color: #fff;
}
/* #endregion */

/* Main */
/* #region */
.main-page {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-spacer {
  height: 70px;
}

.main-content {
  width: 80%;
}

.main-content section {
  box-shadow: 0 5px 10px #888888;
  border-radius: 10px;
  background-color: rgb(248, 249, 250);
  padding: 20px 50px;
}

.main-content-spacer {
  height: 20px;
}

.table-livros {
  width: 100%;
  border-collapse: collapse;
}

.table-livros caption {
  caption-side: bottom;
  text-align: right;
  font-style: italic;
}

.table-livros tr {
  border-bottom: 1px solid black;
}

.table-livros td {
  text-align: center;
}

.table-livros img {
  width: 150px;
}

.livro-img {
  width: 20%;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-content img {
  width: 200px;
  border-radius: 50%;
}
/* #endregion */
